.tasksContainer{
  width: 100%;
}

.tasksHeader {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createdTasks, .concludedTasks {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;

}

.createdTasks p {
  color: var(--blue);
}

.createdTasks span, .concludedTasks span {
  display: flex;
  align-items: center;
  justify-content:center;
  min-width: 25px;
  height: 19px;
  font-size: 0.75rem;
  padding: 2px 8px;

  background-color: var(--grey-400);
  border-radius: 999px;
}

.concludedTasks p {
  color: var(--purple);
}

.tasksBody {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 
  border-radius: 8px;
}


.noTasks {
  margin: 4rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noTasks img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.noTasks strong, .noTasks p{
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--grey-300);
}

.hasTasks {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  background: var(--grey-500);
  border: 1px solid var(--grey-400);
  border-radius: 8px;
}

.hasTasks .checkContainer {
  display: flex;
  cursor: pointer;
  position: relative;
  
  
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hasTasks .checkContainer input {
  height: 24px;
  width: 24px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}


.checkmark {
  height: 1.5rem;
  width: 1.5rem;


  border: 2px solid var(--blue);
  border-radius: 50%;
}


.hasTasks .checkContainer input:hover ~ .checkmark {
  opacity: 0.5;
  background: var(--blue-dark);
}

.hasTasks .checkContainer input:checked ~ .checkmark {
  display: inline-block;
  border: none;
  background: var(--purple-dark);  
} 


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.hasTasks .checkContainer input:checked ~ .checkmark:after {
  display: block;
}
.hasTasks .checkContainer .checkmark:after {
  left: 9px;
  top: 6px;
  width: 4px;
  height: 8px;
  border: solid var(--grey-100);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hasTasks .checkContainer input:checked + label {
  text-decoration: line-through;
}

.hasTasks .checkedLabel {
  text-decoration: line-through;
  color: var(--grey-300);
}

.hasTasks label {
  max-width: 39.5rem;
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 400;

  word-break: break-all;

  color: var(--grey-100);
}

.hasTasks svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-left:  auto;

  cursor: pointer;

  color: var(--grey-300);
  transition: color 0.2s
}

.hasTasks svg:hover {
  color: var(--danger);
}